<main>
    <form 
  (ngSubmit)="onSubmit()"
  [formGroup]="loginFormGroup"
  >
  <mat-card class='card' appearance="raised">
    <mat-card-header>
      <mat-card-title>Incia sesion</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput 
        formControlName="email"  
        type="email" />
        @if (loginFormGroup.get("email")?.invalid) {
          <mat-error class="mb-4">{{getErrorMessage('email')}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput 
        formControlName="password"  
        type="password" />
        @if (loginFormGroup.get("password")?.invalid) {
          <mat-error class="mb-4">{{getErrorMessage('password')}}</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
    </form>
</main>
