<app-page-header title="Detalle del curso" buttonText="" linkPath=""></app-page-header>

<section>
    <form 
    class="form"
    (ngSubmit)="onSubmit()"
    [formGroup]="courseFormGroup"
    >
    <div class="name-container"> 
      <mat-form-field
      class="w-full">
        <mat-label>Nombre del curso</mat-label>
        <input
        formControlName="name"
        matInput 
        placeholder="Ex. React"
        >
        @if (courseFormGroup.get("courseName")?.invalid) {
          <mat-error class="mb-4">Error </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field
    class="w-full">
      <mat-label>Clases</mat-label>
      <mat-select formControlName="classes" multiple [compareWith]="compareClasses">
        @for (class of classes; track class) {
          <mat-option 
          [value]="class">{{class | classroomOption}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    
    <div class="actions-container">
      <button
      type="submit"
      mat-raised-button color="primary"
      >Guardar</button>
    
      <button
      (click)="onCancel()"
      mat-raised-button
      >Cancelar</button>

      <button
      (click)="refrescar()"
      mat-raised-button
      >refrescar</button>
    </div>
    
  </form>

  
  </section>
  