
<form 
(ngSubmit)="onSubmit()"
[formGroup]="userFormGroup"
>
<div class="name-container">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
      formControlName="firstName"  
      matInput 
      placeholder="Ex. Juan"
      >
      @if (userFormGroup.get("firstName")?.invalid) {
        <mat-error class="mb-4">{{getErrorMessage('firstName')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input 
      formControlName="lastName" 
      matInput 
      placeholder="Ex. Perez"
      >
      @if (userFormGroup.get("lastName")?.invalid) {
        <mat-error class="mb-4">{{getErrorMessage('lastName')}}</mat-error>
      }
    </mat-form-field>
</div>
<mat-form-field class="email-input">
    <mat-label>Email</mat-label>
    <input 
    formControlName="email" 
    matInput 
    placeholder="Ex. juanp@email.com"
    type="email">
    @if (userFormGroup.get("email")?.invalid) {
        <mat-error class="mb-4">{{getErrorMessage('email')}}</mat-error>
      }
  </mat-form-field>
  <mat-form-field class="password-input">
    <mat-label>Enter your password</mat-label>
    <input 
    formControlName="password" 
    matInput 
    [type]="hide ? 'password' : 'text'"
    >
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon class="mb-4">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>

<button
type="submit"
mat-raised-button color="primary"
>Guardar</button>

</form>
