<section *ngIf="showForm">
  <form 
  (ngSubmit)="onSubmit()"
  [formGroup]="userFormGroup"
  >
  <div class="name-container">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
      formControlName="firstName"  
      matInput 
      placeholder="Ex. Juan"
      >
      @if (userFormGroup.get("firstName")?.invalid) {
        <mat-error class="mb-4">{{getErrorMessage('firstName')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input 
      formControlName="lastName" 
      matInput 
      placeholder="Ex. Perez"
      >
      @if (userFormGroup.get("lastName")?.invalid) {
        <mat-error class="mb-4">{{getErrorMessage('lastName')}}</mat-error>
      }
    </mat-form-field>
  </div>
  <mat-form-field class="email-input">
    <mat-label>Email</mat-label>
    <input 
    formControlName="email" 
    matInput 
    placeholder="Ex. juanp@email.com"
    type="email">
    @if (userFormGroup.get("email")?.invalid) {
      <mat-error class="mb-4">{{getErrorMessage('email')}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="role-input">
    <mat-label>Seleccionar Rol</mat-label>
    <mat-select formControlName="role">
      @for (role of roleList; track role) {
        <mat-option [value]="role">{{ role }}</mat-option>
      }
    </mat-select>
    @if (userFormGroup.get("role")?.invalid) {
      <mat-error class="mb-4">{{getErrorMessage('role')}}</mat-error>
    }
  </mat-form-field>
  
  <button
  type="submit"
  mat-raised-button color="primary"
  >Guardar</button>
  
</form>
</section>
