<mat-drawer-container class="sidenav-container" autosize>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Administracion de Alumnos</span>
      </mat-toolbar>
    
    <mat-drawer #drawer class="sidenav" mode="side">
      <p>Menu</p>
     <mat-nav-list>
      <a
        #homeLink="routerLinkActive" 
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home" 
        mat-list-item>
        Home
      </a>
      <a
      *ngIf="isAdmin()"
        #usersLink="routerLinkActive"
        routerLinkActive 
        [activated]="usersLink.isActive"
        routerLink="users" 
        mat-list-item>
        Usuarios
      </a>
      <a
        #coursesLink="routerLinkActive" 
        routerLinkActive
        [activated]="coursesLink.isActive" 
        routerLink="courses" mat-list-item>
        Cursos
      </a>
      <a
        #classesLink="routerLinkActive" 
        routerLinkActive
        [activated]="classesLink.isActive" 
        routerLink="classes" 
        mat-list-item>
        Clases
      </a>
      <a
        #logoutLink="routerLinkActive" 
        routerLinkActive
        [activated]="logoutLink.isActive" 
        (click)="logoutUser()"
        mat-list-item>
        Cerrar sesion
      </a>
     </mat-nav-list>
    </mat-drawer>

    <div class="content">
       
      <router-outlet></router-outlet>

    </div>
  
  </mat-drawer-container>